In [3]:
from io import StringIO
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [4]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [5]:
url = "https://www.set.or.th/en/market/product/stock/quote/ADVANC/financial-statement/company-highlights"
driver.get(url)

In [29]:
html = driver.page_source
data_list = pd.read_html(StringIO(html))
df1 = data_list[0]
df2 = data_list[1]

In [33]:
df1 = df1[~df1["Period as of"].isin(["Financial Data", "Financial Ratio"])]
header_row = pd.DataFrame([df1.columns.tolist()], columns=df1.columns)
df1_demoted = pd.concat([header_row, df1], ignore_index=True)
df1_demoted.columns = [1,2,3,4,5,6]
df1_demoted

,1,2,3,4,5,6
0,Period as of,Y/E 2021 31 Dec 2021,Y/E 2022 31 Dec 2022,Y/E 2023 31 Dec 2023,Y/E 2024 31 Dec 2024,Q1/2025 31 Mar 2025
1,Assets,356221.74,337043.66,454439.22,431432.09,432091.01
2,Liabilities,274397.22,251227.31,363761.01,334108.2,341279.97
3,Equity,81698.75,85688.72,90577.12,97222.42,90708.67
4,Paid-up Capital,2973.93,2974.21,2974.21,2974.21,2974.21
5,Revenue,182605.54,186142.92,189720.27,214147.68,56533.03
6,Profit (Loss) from Other Activities,-786.32,-72.87,787.74,1291.15,235.81
7,Net Profit,26922.15,26011.28,29086.11,35075.36,10583.53
8,EPS (Baht),9.05,8.75,9.78,11.79,3.56
9,ROA (%),10.91,10.79,10.65,11.8,12.34
10,ROE (%),34.24,31.08,33.0,37.35,42.28
11,Net Profit Margin (%),14.74,13.98,15.33,16.38,18.72

In [43]:
header_row = pd.DataFrame([df2.columns.tolist()], columns=df2.columns)
df2_demoted = pd.concat([header_row, df2], ignore_index=True)
df2_demoted.columns = [1,2,3,4,5,6]
df2_demoted

,1,2,3,4,5,6
0,Statistics as of,30 Dec 2021,30 Dec 2022,28 Dec 2023,30 Dec 2024,18 Jul 2025
1,Last Price (Baht),230.00,195.00,217.00,287.00,294.00
2,Market Cap. (M.Baht),684002.93,579970.90,645403.51,853598.19,874417.66
3,F/S Period (As of date),30 Sep 2021,30 Sep 2022,30 Sep 2023,30 Sep 2024,31 Mar 2025
4,P/E,25.13,22.73,21.92,26.01,23.50
5,P/BV,9.15,7.43,7.74,9.68,9.64
6,Book Value per share (Baht),25.12,26.25,28.04,29.65,30.50
7,Dividend Yield (%),3.01,3.94,3.54,3.00,3.61

In [49]:
df_combined = pd.concat([df1_demoted, df2_demoted], ignore_index=True)
df_trans = df_combined.T
df_trans

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Statistics as of,Last Price (Baht),Market Cap. (M.Baht),F/S Period (As of date),P/E,P/BV,Book Value per share (Baht),Dividend Yield (%)
2,Y/E 2021 31 Dec 2021,356221.74,274397.22,81698.75,2973.93,182605.54,-786.32,26922.15,9.05,10.91,34.24,14.74,30 Dec 2021,230.00,684002.93,30 Sep 2021,25.13,9.15,25.12,3.01
3,Y/E 2022 31 Dec 2022,337043.66,251227.31,85688.72,2974.21,186142.92,-72.87,26011.28,8.75,10.79,31.08,13.98,30 Dec 2022,195.00,579970.90,30 Sep 2022,22.73,7.43,26.25,3.94
4,Y/E 2023 31 Dec 2023,454439.22,363761.01,90577.12,2974.21,189720.27,787.74,29086.11,9.78,10.65,33.0,15.33,28 Dec 2023,217.00,645403.51,30 Sep 2023,21.92,7.74,28.04,3.54
5,Y/E 2024 31 Dec 2024,431432.09,334108.2,97222.42,2974.21,214147.68,1291.15,35075.36,11.79,11.8,37.35,16.38,30 Dec 2024,287.00,853598.19,30 Sep 2024,26.01,9.68,29.65,3.00
6,Q1/2025 31 Mar 2025,432091.01,341279.97,90708.67,2974.21,56533.03,235.81,10583.53,3.56,12.34,42.28,18.72,18 Jul 2025,294.00,874417.66,31 Mar 2025,23.50,9.64,30.50,3.61

In [ ]:
df_trans.columns = df_trans.iloc[0]
df_trans = df_trans.drop(index=1).reset_index(drop=True)

1,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Statistics as of,Last Price (Baht),Market Cap. (M.Baht),F/S Period (As of date),P/E,P/BV,Book Value per share (Baht),Dividend Yield (%)
0,Y/E 2021 31 Dec 2021,356221.74,274397.22,81698.75,2973.93,182605.54,-786.32,26922.15,9.05,10.91,34.24,14.74,30 Dec 2021,230.00,684002.93,30 Sep 2021,25.13,9.15,25.12,3.01
1,Y/E 2022 31 Dec 2022,337043.66,251227.31,85688.72,2974.21,186142.92,-72.87,26011.28,8.75,10.79,31.08,13.98,30 Dec 2022,195.00,579970.90,30 Sep 2022,22.73,7.43,26.25,3.94
2,Y/E 2023 31 Dec 2023,454439.22,363761.01,90577.12,2974.21,189720.27,787.74,29086.11,9.78,10.65,33.0,15.33,28 Dec 2023,217.00,645403.51,30 Sep 2023,21.92,7.74,28.04,3.54
3,Y/E 2024 31 Dec 2024,431432.09,334108.2,97222.42,2974.21,214147.68,1291.15,35075.36,11.79,11.8,37.35,16.38,30 Dec 2024,287.00,853598.19,30 Sep 2024,26.01,9.68,29.65,3.00
4,Q1/2025 31 Mar 2025,432091.01,341279.97,90708.67,2974.21,56533.03,235.81,10583.53,3.56,12.34,42.28,18.72,18 Jul 2025,294.00,874417.66,31 Mar 2025,23.50,9.64,30.50,3.61

In [56]:
df_trans["Period as of"] = df_trans["Period as of"].apply(lambda x: " ".join(str(x).split()[-3:]))
date_cols = ["Statistics as of", "F/S Period (As of date)", "Period as of"]
for col in date_cols:
    df_trans[col] = pd.to_datetime(df_trans[col], format="%d %b %Y")
df_trans

1,Period as of,Assets,Liabilities,Equity,Paid-up Capital,Revenue,Profit (Loss) from Other Activities,Net Profit,EPS (Baht),ROA (%),ROE (%),Net Profit Margin (%),Statistics as of,Last Price (Baht),Market Cap. (M.Baht),F/S Period (As of date),P/E,P/BV,Book Value per share (Baht),Dividend Yield (%)
0,2021-12-31,356221.74,274397.22,81698.75,2973.93,182605.54,-786.32,26922.15,9.05,10.91,34.24,14.74,2021-12-30,230.00,684002.93,2021-09-30,25.13,9.15,25.12,3.01
1,2022-12-31,337043.66,251227.31,85688.72,2974.21,186142.92,-72.87,26011.28,8.75,10.79,31.08,13.98,2022-12-30,195.00,579970.90,2022-09-30,22.73,7.43,26.25,3.94
2,2023-12-31,454439.22,363761.01,90577.12,2974.21,189720.27,787.74,29086.11,9.78,10.65,33.0,15.33,2023-12-28,217.00,645403.51,2023-09-30,21.92,7.74,28.04,3.54
3,2024-12-31,431432.09,334108.2,97222.42,2974.21,214147.68,1291.15,35075.36,11.79,11.8,37.35,16.38,2024-12-30,287.00,853598.19,2024-09-30,26.01,9.68,29.65,3.00
4,2025-03-31,432091.01,341279.97,90708.67,2974.21,56533.03,235.81,10583.53,3.56,12.34,42.28,18.72,2025-07-18,294.00,874417.66,2025-03-31,23.50,9.64,30.50,3.61

In [59]:
df_trans["Stock"] = "ADVANC"
print(df_trans.iloc[0])

1
Period as of                           2021-12-31 00:00:00
Assets                                           356221.74
Liabilities                                      274397.22
Equity                                            81698.75
Paid-up Capital                                    2973.93
Revenue                                          182605.54
Profit (Loss) from Other Activities                -786.32
Net Profit                                        26922.15
EPS (Baht)                                            9.05
ROA (%)                                              10.91
ROE (%)                                              34.24
Net Profit Margin (%)                                14.74
Statistics as of                       2021-12-30 00:00:00
Last Price (Baht)                                   230.00
Market Cap. (M.Baht)                             684002.93
F/S Period (As of date)                2021-09-30 00:00:00
P/E                                                  25.13
P/BV                                                  9.15
Book Value per share (Baht)                          25.12
Dividend Yield (%)                                    3.01
Stock                                               ADVANC
Name: 0, dtype: object