In [ ]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from io import StringIO

In [ ]:
url = "https://www.set.or.th/en/market/get-quote/stock/"
all_data = pd.DataFrame()
service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)
driver.get(url)

while True:
    try:
        WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.TAG_NAME, "table")))
        tables = pd.read_html(StringIO(driver.page_source))
        current_df = tables[1] 
        all_data = pd.concat([all_data, current_df], ignore_index=True)

        next_button = WebDriverWait(driver, 10).until(
            EC.element_to_be_clickable((By.XPATH, "//button[@aria-label='Go to next page']"))
        )

        driver.execute_script("arguments[0].scrollIntoView({block: 'center'});", next_button)
        next_button.click()

    except Exception as e:
        print("No more pages or error:", e)
        break

driver.quit()

No more pages or error: Message:
Stacktrace:
	GetHandleVerifier [0x0xcf1a33+62339]
	GetHandleVerifier [0x0xcf1a74+62404]
	(No symbol) [0x0xb32123]
	(No symbol) [0x0xb7a86e]
	(No symbol) [0x0xb7ac0b]
	(No symbol) [0x0xbc2f72]
	(No symbol) [0x0xb9f404]
	(No symbol) [0x0xbc07a3]
	(No symbol) [0x0xb9f1b6]
	(No symbol) [0x0xb6e7a2]
	(No symbol) [0x0xb6f644]
	GetHandleVerifier [0x0xf665c3+2637587]
	GetHandleVerifier [0x0xf619ca+2618138]
	GetHandleVerifier [0x0xd184aa+220666]
	GetHandleVerifier [0x0xd088d8+156200]
	GetHandleVerifier [0x0xd0f06d+182717]
	GetHandleVerifier [0x0xcf9978+94920]
	GetHandleVerifier [0x0xcf9b02+95314]
	GetHandleVerifier [0x0xce4c4a+9626]
	BaseThreadInitThunk [0x0x75905d49+25]
	RtlInitializeExceptionChain [0x0x7730d1ab+107]
	RtlGetAppContainerNamedObjectPath [0x0x7730d131+561]

In [72]:
all_data

,Symbol (Click to sort Descending),Company Name (Click to sort Ascending),Market (Click to sort Ascending),Industry Group (Click to sort Ascending),Sector (Click to sort Ascending),Factsheet (Click to clear sorting)
0,24CS,Twenty-Four Con & Supply Public Company Limited,mai,PROPCON,-,NaN
1,2S,2S METAL PUBLIC COMPANY LIMITED,SET,INDUS,STEEL,NaN
2,3BBIF,3BB INTERNET INFRASTRUCTURE FUND,SET,TECH,ICT,NaN
3,A,AREEYA PROPERTY PUBLIC COMPANY LIMITED,SET,PROPCON,PROP,NaN
4,A5,ASSET FIVE GROUP PUBLIC COMPANY LIMITED,SET,PROPCON,PROP,NaN
...,...,...,...,...,...,...
917,YONG,Yong Concrete Public Company Limited,mai,PROPCON,-,NaN
918,YUASA,YUASA BATTERY (THAILAND) PUBLIC COMPANY LIMITED,mai,INDUS,-,NaN
919,ZAA,ZALEKTA PUBLIC COMPANY LIMITED,SET,SERVICE,MEDIA,NaN
920,ZEN,ZEN CORPORATION GROUP PUBLIC COMPANY LIMITED,SET,AGRO,FOOD,NaN
921,ZIGA,ZIGA INNOVATION PUBLIC COMPANY LIMITED,mai,INDUS,-,NaN